body {
    background-image: linear-gradient(
        rgb(59,88,93),
        rgb(29,40,42)
        );
    height: 100vh; /*vertical hight - esta controlando o background*/
    color: white;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center; /* alinha horizontalmente */
}

button {
    background-color: inherit;
    color: inherit;
    border: none;
}

#below-cover {
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* alinha horizontalmente */
    align-items: center; /* alinha verticalmente */
    margin: 3em 0 1em 0;
}

#button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;  /* alinha os itens na direção que não é a principal*/
}

.button {
    font-size: 1.5em; /*em = medida relativa ao tamanho da fonte do elemento pai */
    cursor: pointer;
}

.button-navegate {
    font-size: 3em;
}

.button-bigest {
    font-size: 4em;
}

#cover {
    width: 450px;
}

#playlist-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1em 0 4em 0;
}

#song-name {
    font-size: 1.5em;
    font-weight: bolder;
}

.light-color {
    color: rgb(139, 153, 156);
}

#progress-bar {
    background-color: rgb(139, 153, 156);
    height: 3px;
    width: 100%; /*largura da barra de acordo com o elemento pai*/
    border-radius: 15px;
    /* margin-bottom: 1.5em; */
}

#current-progress {
    --progress: 0%;
    background-color: white;
    height: inherit;
    width: var(--progress);
    border-radius: inherit;
}

#progress-container {
    /* padding-bottom: 1em; */
    cursor: pointer;
}

.button-active {
    color: rgb(0, 183, 107);
}

#time-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: smaller;
    margin-top: 0.5em;
}